.title {
  font-size: 22px;
  font-weight: 600;
  color: #34302d;
  font-style: normal;
  line-height: 28px;
}

.subtitle {
  font-size: 22px;
  font-weight: 300;
  color: #34302d;
  font-style: normal;
  line-height: 28px;
}
